body{ 
    background-color: #c5c4c4;
    width: 1360px;

    margin: auto;
}

header, nav, aside, section, footer{

font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;
}

img{
    margin-top: 10px;
}

header{
min-height: 60px;
min-width: 1300px;
background-color: #b4bdd3;
text-align: center;
justify-content: center;
align-items: center;
}
nav{
height: 500px;
width: 160px;
margin-top: 15px;
margin-left: 15%;
margin-right: 0%;
margin-bottom: 15px;
float: left;
background-color: #b4bdd3;
justify-items: center;
justify-content: center;
text-align: center;
}

//ide{
    background-color: gray;
    height: 250px;
    width: 425px;
    margin-top: 15px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 15px;
    float: left;
 
}

section{
    height: 500px;
    width: 800px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

footer{
    height: 0px;
    width: 1300px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: left;

}

.centt{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.bold{
font-weight: bold;
font-size: large;
}

.regi{
border-radius: 70%%;
align-items: center;
justify-content: center;
justify-items: center;
text-align: center;
flex-direction: column;
margin-top: 50px;
font-size: medium;
}

.right{
margin-right: 15px;

}

